.style-messages{
    border: 1px solid black;
    padding: 10px;
    margin-bottom: 10px;
    text-align: center;
    background-color: azure;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}
.message-name{
    background-color: black;
    color: white;
    padding: 5px 100px;
    border: 1px solid black;
    border-radius: 12px;
   font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
.message-content{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
hr{
    width: 70%;
}
.style-send-messages{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 400px;
    
 
   
}
.btn-chat{
    padding: 10px;
    background-color: black;
    color: white;
    border: 1px solid black;
    border-radius: 12px;
    transition: .7s;
   
}
.btn-chat:hover{
    background-color: azure;
    color: black;
}
.input-chat:focus{
    background-color: azure;
    transition: 0.6s;

}
.container{
    position: static;
}