table{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}


tr, td, th {
    border: 1px solid black;
    padding: 5px;
}

.box {
    background-color: azure;
}

thead, .titlle-box {
    background-color: black;
    color: white;
}
.table{
    text-align: center;
}
.btn{
    padding: 4px;
    background-color: azure;
    color: black;
   margin-right: 5px;
   transition: .7s;
   border: 1px solid azure;
   font-family: cursive;
   font-weight: bold;
   text-decoration: none;
    
}
.btn:hover{
    background-color: black;
    color: azure;
    border-radius: 5px;
}