table {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}


tr, td, th {
    
    border: 1px solid black;
    padding: 5px;
}


.box {
    background-color: #F0fff0;;
}

thead, .title-box {
    background-color: #008000;
    color: white;
}

.table {
    text-align: center;
}

.btn {
    padding: 4px;
    background-color: #F0fff0;;
    color: black;
    margin-right: 5px;
    transition: .7s;
    border: 1px solid #F0fff0;
    font-family: cursive;
    font-weight: bold;
    text-decoration: none;

}

.btn:hover {
    background-color: #008000;
    color: azure;
    border-radius: 5px;
}

.btn-2 {
    font-size: 20px;
}

.select-class {

    margin-left: 10%;
    padding: 10px;
    background-color:#008000;
    color: azure;
    border-radius: 5px;

}