form{
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    width: 50%;

}
form label{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}
form input,select{
    margin-top: 10px;
    padding: 20px;
}
.form{
    text-align: center;
}
.btn-1{
    margin-left: auto;
    margin-right: auto;
    width: 80px;
    background-color: black;
    color: white;
    padding: 5px;
    font-family: cursive;
    font-size: 15px;
    transition: .7s;
}
.btn-1:hover{
    background-color: red;
}